# Paths on the HOST server
# Linux:   /srv/ziperlab/immich/library
# Windows: C:/Users/<you>/data/ziperlab/immich/library
IMMICH_UPLOAD_LOCATION=/srv/ziperlab/immich/library

# Linux:   /srv/ziperlab/immich/postgres
# Windows: C:/Users/<you>/data/ziperlab/immich/postgres
IMMICH_DB_DATA_LOCATION=/srv/ziperlab/immich/postgres

# Linux:   /srv/ziperlab/navidrome/data
# Windows: C:/Users/<you>/data/ziperlab/navidrome/data
NAVIDROME_DATA=/srv/ziperlab/navidrome/data

# Linux:   /srv/ziperlab/navidrome/music
# Windows: C:/Users/<you>/data/ziperlab/navidrome/music
NAVIDROME_MUSIC=/srv/ziperlab/navidrome/music

# Immich
IMMICH_VERSION=release
DB_PASSWORD=changeme_generate_a_real_secret

# Navidrome
ND_SCANSCHEDULE=1h
ND_LOGLEVEL=info

# Domain
DOMAIN=cloud.ziperlab.com
