# Paths on the HOST server (main disk)
IMMICH_UPLOAD_LOCATION=/srv/ziperlab/immich/library
IMMICH_DB_DATA_LOCATION=/srv/ziperlab/immich/postgres
NAVIDROME_DATA=/srv/ziperlab/navidrome/data
NAVIDROME_MUSIC=/srv/ziperlab/navidrome/music

# Immich
IMMICH_VERSION=release
DB_PASSWORD=changeme_generate_a_real_secret

# Navidrome
ND_SCANSCHEDULE=1h
ND_LOGLEVEL=info

# Domain
DOMAIN=cloud.ziperlab.com
