:8080 {
	handle_path /photos* {
		reverse_proxy immich-server:2283
	}

	handle_path /music* {
		reverse_proxy navidrome:4533
	}

	handle_path /admin* {
		reverse_proxy glances:61208
	}

	handle / {
		redir /photos permanent
	}
}
